body {
        padding-bottom: 60px;
    }
    
    
.fixed-bottom {
        z-index: 1030;
    }
    
    
.nav-link i {
        font-size: 1.2rem;
    }
    
    
.nav-link small {
        font-size: 0.7rem;
    }

.navbar-nav.d-flex.flex-row.gap-5 .nav-link {
    position: relative;
    transition: all 0.3s ease;
}

.navbar-nav.d-flex.flex-row.gap-5 .nav-link:hover {
    color: #f8f9fa !important;
    transform: translateY(-3px);
}

.navbar-nav.d-flex.flex-row.gap-5 .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f8f9fa;
    transition: width 0.3s ease;
}

.navbar-nav.d-flex.flex-row.gap-5 .nav-link:hover::after {
    width: 100%;
}


.nav.justify-content-between  .nav-link {
    transition: all 0.3s ease;
    border-radius: 10px;
    padding: 8px 12px !important;
}

.nav.justify-content-between  .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

.nav.justify-content-between  .nav-link:hover i {
    color: #f8f9fa !important;
}

.nav.justify-content-between  .nav-link:hover small {
    color: #f8f9fa !important;
    font-weight: bold;
}